@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

.app {
  margin: 0;
  padding: 0;
  background-color: #ebceb4;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #94290c;
  padding: 15px;
}

.navigation_logo a {
  text-decoration: none;
  color: #f5f5dc;
  font-size: 1.5em;
  font-family: 'Grape Nuts', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navigation_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navigation_item {
  margin-right: 20px;
}

.navigation_item a {
  text-decoration: none;
  color: #f5f5dc;
  font-size: 1.2em;
}

.social-link-icons a {
  margin: 0 10px;
  font-size: 1.5em;
  color: #94290c;
  text-decoration: none;
}

.navigation_item a:hover {
  color: #e1b382;
  font-size: 1.4rem;
}

.navigation_toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
}

.fa-bars,
.fa-times {
  display: none;
  font-size: 1em;
  color: #f5f5dc;
}

h1 {
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

h1 div span {
  transition: 0.5s ease-out;
}

h1:hover div span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

h1:hover div span:nth-child(1) {
  margin-right: 5px;
}

h1:hover div span:nth-child(1)::after {
  content: 'FEE';
}

h1:hover div span:nth-child(2) {
  margin-left: 30px;
}

.homepage {
  text-align: center;
  padding: 20px;
  background-color: #ebceb4;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage h1 {
  font-size: 2em;
  color: #94290c;
}

.homepage p {
  font-size: 1.2em;
  color: #94290c;
  margin-bottom: 20px;
}

.coffee-img {
  max-width: 100%;
  max-height: 70%;
  margin: 0 auto;
  overflow: hidden;
}

img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.coffee-img img:hover {
  transform: scale(1.05);
}

.social-links {
  margin-top: 20px;
}

.social-links h3 {
  font-size: 1.4em;
  color: #94290c;
  margin-bottom: 10px;
  font-family: monospace;
}

.social-link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-link-icons a:hover {
  color: #d15634e6;
}

.nav-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  align-items: center;
}

.nav-buttons button {
  background: none;
  border: none;
  font-size: 2em;
  color: #2e2e2e;
  cursor: pointer;
}

.nav-buttons button:hover {
  color: #94290c;
}

.loading {
  text-align: center;
  color: #94290c;
  font-size: 24px;
}

.coffees {
  height: 100%;
  background-color: #94290c;
}

.coffees h2 {
  text-align: center;
  color: #e1b382;
  padding: 20px;
  font-size: 28px;
}

.coffees ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.coffees li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ebceb4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coffees li img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  margin: auto;
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 4px 8px rgb(239, 239, 239);
}

.coffees li img:hover {
  transform: scale(1.05);
}

.coffee-title {
  color: #94290c;
  text-align: center;
  padding: 10px;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .navigation_list {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.2em;
    gap: 40px;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 83vh;
    background-color: #92290ce6;
    border-top: 2px solid #f5f5dc;
    z-index: 1;
    padding-top: 100px;
  }

  .navigation_list.show {
    display: flex;
  }

  .navigation_toggle,
  .fa-bars,
  .fa-times {
    display: block;
    color: #f5f5dc;
  }
}
